.topic-page {
  background-color: rgb(212, 212, 212);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.title-topic {
  background-color: #1976d2;
  color: white;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.title-topic h1 {
  font-size: 31px;
  font-weight: 700;
}

.messages {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-x: auto;
}

.card-message {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 350px;
}

.card-message div {
  display: flex;
  gap: 3px;
}

.forms-message {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
