.sectionNewProfilePage {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 10px;
}

.buttonsNewProfilePage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}